body,div,p,a{margin: 0;padding: 0;}
#container{
		width: 500px;
		height: 350px;
		position: relative;
		margin: 0 auto;
}
#container p{
	width: 380px;
	height: 40px;
	position: absolute;
	left: 60px;
	bottom: 60px;
	color: red;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	text-indent: 2em;
	font-family: "微软雅黑",Verdana,sans-serif;
}